<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.FacebookLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SMSOTPServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.SMSOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailOTPServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.EmailOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRideServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.SearchRideServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRideServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.AddRideServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emailpassword</servlet-name>
        <servlet-class>UWRideshare.servlets.EmailPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContact</servlet-name>
        <servlet-class>AddContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContactServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.AddContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithFacebokkServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.LoginWithFacebookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>UWRideshare.servlets.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithGoogleServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.LoginWithGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRideServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.DeleteRideServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditRideServlet</servlet-name>
        <servlet-class>UWRideshare.servlets.EditRideServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditRideServlet</servlet-name>
        <url-pattern>/editride</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailOTPServlet</servlet-name>
        <url-pattern>/emailotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/checkemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <url-pattern>/facebooklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SMSOTPServlet</servlet-name>
        <url-pattern>/smsotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRideServlet</servlet-name>
        <url-pattern>/searchride</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRideServlet</servlet-name>
        <url-pattern>/addride</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emailpassword</servlet-name>
        <url-pattern>/emailpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContact</servlet-name>
        <url-pattern>/addcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContactServlet</servlet-name>
        <url-pattern>/addcontact1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithFacebokkServlet</servlet-name>
        <url-pattern>/loginwithfacebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/googlelogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithGoogleServlet</servlet-name>
        <url-pattern>/loginwithgoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRideServlet</servlet-name>
        <url-pattern>/deleteride</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
